/* Universal */
body {
    font-family: 'Open Sans', sans-serif;

}


/* header banner */

.header {

    display: flex;

    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
}

.header .banner-img {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-right: 150px;


}

.banner-content {
    margin-left: 150px;
    margin-right: 150px;
}

.banner-content>h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.banner-container {
    margin-top: 50px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px;
    color: #FFF;
    text-align: center;

    font-size: 15px;

    font-weight: 700;

}



/* feature section */

.feature {
    text-align: center;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.feature-img-detail {

    text-decoration: underline;
}

.feature-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.feature-image {
    width: 200px;
    height: 300px;
    padding: 50px;
    padding-bottom: 0px;
}

#image-one {
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#image-two {
    border-radius: 200px 200px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#image-third {
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}



/* support section */

.support-section {
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.support-content {
    margin-top: 80px;
    margin-bottom: 80px;
}



/* sign-up section */

.sign-up-section {
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-detail {
    text-align: center;
    margin-right: 100px;
}

.sign-img {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;

}

#off {
    color: #E55473;

    font-size: 25px;

    font-weight: 800;

}



/* insta section */

.insta-section {
    text-align: center;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.insta-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.insta-img {
    width: 220px;
    height: 220px;
}



/* submit section */

.submit-section {
    text-align: center;
    background-image: url('/Flower\ Asset/Rectangle 9.png');
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 100px;
    padding: 50px;
    border-radius: 8px;
}

.input-primary {
    width: 600px;
    height: 55px;
    border-radius: 8px;
    background: #FFF;
}